<%- include ('templates/header'); -%>


<h1> Order History Page </h1>

<!-- for loop by length of disinct dates -->


<!-- for each date loop through the whole array find the date that mathces -->

<%- include ('templates/footer'); -%>
