<%- include ('templates/header'); -%>

<%- include ('templates/authnav'); -%>


    <div class="container">
        
        <div class="jumbotron">
            
            <img height="200px" src="/img/profilepic.jpg" style="margin-left: 40%">
            
        </div>
        
        
    </div>



<%- include ('templates/footer'); -%>