<!DOCTYPE html>
<html>
  <head>
    <title>WebStore</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
		<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
		<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<script src="https://unpkg.com/@popperjs/core@2"></script>-->
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">

		<link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
		<link rel='stylesheet' type='text/css' href='css/app.css'>
		
    <div class="bgimgcontainer">

            <H1 align="left"><img src="/img/noname.png" alt="logo" style="width:100px;height:100px;"></H1>
            
            
            <hr><h1 class = "title">    Welcome to The NoName Store    </h1><hr> 

            <H1 align="right"><img src="/img/csumb logo.png" alt="csumb" ALIGN= "right" style="width:130px;height:100px;"></H1>
            

           
        </div>
		
  </head>
  <body>
    
